.crd:hover {
  transition: 0.5s;
  transform: scale(1.03);
}
.title {
  padding: 1rem 0;
  letter-spacing: 1rem;
  color: #fff;
  font-size: 480%;
  font-weight: bolder;
  border-bottom: #cd4141fa solid;
  border-top: #cd4141fa solid;
}
