<section class="bg-dark">
  <section class="" *ngIf="topContent$ | async as topContent; else loadingSpinner">
    <div class="row d-flex text-center">
      <h1 class="title">Top 50 anime list</h1>
      <div class="col-lg-2 col-md-12 p-3 crd" *ngFor="let item of topContent">
        <div class="bg-white rounded shadow-sm h-100">
          <a href="{{ item.url }}" target="_blank" class="">
            <img [src]="item.image_url" alt="cover_img" class="img-fluid card-img-top" />
          </a>
          <div class="p-4">
            <h4 class="text-muted fw-bold mb-0">
              {{ item.title }}
            </h4>
            <div class="d-flex align-items-center justify-content-center rounded-pill bg-light px-3 py-2 mt-4">
              <span class="font-weight-bold">Top view position: {{ item.rank }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <ng-template #loadingSpinner>
    <div class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>
