.crd:hover {
  transition: 0.5s;
  transform: scale(1.03);
}
.title {
  padding: 1rem 0;
  letter-spacing: 1rem;
  color: #fff; 
  font-size: 500%;
  font-weight: bolder;
  border-bottom: #cd4141fa solid;
  border-top: #cd4141fa solid;

  
  //   text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
  //     1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
