<footer id="footer" class="text-center text-white mt-1">
  <div class="container p-4">
    <section class="">
      <form action="">
        <div class="row d-flex justify-content-center">
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <div class="col-md-5 col-12">
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" placeholder="Email address"/>
            </div>
          </div>
          <div class="col-auto">
            <a href="mailto:giulia.reas@codingavision.com,carmelo.bastillo@codingavision.com,matteo.nista@codingavision.com">
            <button type="submit" class="btn btn-outline-light mb-4" >Subscribe</button>
            </a>
          </div>
        </div>
      </form>
    </section>

    <section class="mb-4">
      <p>While using DevelAnime, you agree to have read and accepted our terms of use, cookie and privacy policy.
      <br>
      © Copyright 2021-2022 by DevelAnime Group. All Rights Reserved.
      </p>
    </section>

    <section class="">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Assistance</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Cookie Policy</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">General conditions of use</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <span class="fw-bold pe-2"> Developed by:</span>
    <a class="text-white" href="https://www.linkedin.com/in/luca-carapellese/" target="_blank">Luca Carapellese</a><span> - </span>
    <a class="text-white" href="https://www.linkedin.com/in/gcapicotto/" target="_blank">Giuseppe Capicotto</a><span> - </span>
    <a class="text-white" href="https://www.linkedin.com/in/marzia-culotta-74a46047/" target="_blank">Marzia Culotta</a><span> - </span>
    <a class="text-white" href="https://www.linkedin.com/in/marianna-coppola1/" target="_blank">Marianna Coppola</a><span> - </span>
    <a class="text-white" href="https://www.linkedin.com/in/antonio-verrastro-579432210/" target="_blank">Antonio Verrastro</a>
  </div>
</footer>
