.form-pers{
  background-color: rgb(245, 192, 48)
}

.div-pers{
  margin-left: -25vh;
}

.logo {
  width: 8vh;
  margin-right: 40vh;
  margin-left: 20vh;
}

.btn-pers{
  color: black;
  background-color: transparent;
  border: 1px black solid;
  margin-right: 6vh;
}

.btn-pers:hover{
  transition: 0.6s;
  background-color: white;
}

img[alt="magnify"] {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem;
}

.sel-pers{
  padding: 4.5px 35px 4.5px 35px;
}

button{
  width: 6rem;
}


