
button {
  background-color: #0000005e;
}

.carousel-item {
  height: 400px;
}

.carousel-item img {
  top: 0;
  left: 0;
  min-height: 100%;
}

h5 {
  background-color: #cd4141fa;
  border: 1px solid;
  border-radius: 5px;
  color: black ;
  font-size: x-large;
  font-weight: bold;

}

