<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Results</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div *ngIf="content$ | async as response; else noResult ">
        <div *ngFor="let item of response">
          <div class="modal-body fs-4">
            <span>{{item.title}}
              <img [src]='item.image_url' class="imgModal rounded mx-auto d-block">
            </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<ng-template #noResult>
  <div class="text-center">
    <h5>Your search did not have any matches</h5>
    <h6>Try different keywords</h6>
  </div>
</ng-template>
